<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% block head %}{% end %}
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ static_url("css/HeaterMeter.css") }}">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{% block title %} Default title {% end %}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">

      <a href="https://bitbucket.org/Screader/bbq-sv-controller" class="mdl-navigation__link mdl-navigation__link--icon" target="_blank"><i class="material-icons">link</i><span>Bitbucket</span></a>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{% block title %} Default title {% end %}</span>
    <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Dashboard</a>
      <a class="mdl-navigation__link" href="/configuration/">Configure Sensors</a>
      <a class="mdl-navigation__link" href="/historic/">Historical Data</a>

    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
    {% block content %}
    Hallo Welt
    {% end %}
    <!-- Your content goes here -->



    </div>
  </main>

</html>
