{% extends "base.html" %}

{% block title %} Dashboard {% end %}
{% block content %}
<div class="mdl-grid container">
    <div class="mdl-cell mdl-cell--4-col inner">
        <div class="Temperatures">
            {% for name, remaining in data['Alarms'].items() %}
            <div class="mdl-card mdl-shadow--2dp card ">
                <div class="mdl-card__title mdl-card--expand">
                    <h5 class="mdl-card__title-text">
                        {{escape(name)}}:<br>
                        {{escape(remaining)}}
                    </h5>

                </div>

            </div>
            {% end %}

            <div class="mdl-card mdl-shadow--2dp card ">
                <div class="mdl-card__title mdl-card--expand">

                        <div class="mdl-textfield mdl-js-textfield timer-title">
                        <input class="mdl-textfield__input" type="text" id="timerName" />
                        <label class="mdl-textfield__label timer-label" for="timerName">New Timer</label>
                    </div>
                </div>
                <div class="mdl-card__supporting-text">

                    <div class="mdl-textfield mdl-js-textfield timer-title">
                        <input class="mdl-textfield__input" type="text" id="timerValue" pattern="[0-9][0-9]:[0-9][0-9])?"/>
                        <label class="mdl-textfield__label timer-label" for="timerValue">hh:mm</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-js-button mdl-button--fab">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="Temperatures">
        {% for key, value in data['Sensors'].items() %}
            <!-- <div class="TemperatureBox">

                <div>{{key}}</div>
                <div class="TemperatureValue {{value['state']}}">
                    {{escape(value['temp'])}}&degC
                </div>
                <div>
                    min: {{escape(value['min'])}}&degC
                    max: {{escape(value['max'])}}&degC
                </div>
                {% if value['target'] %}
                <div>
                    set: <input type="edittext" value="{{escape(value['target'])}}"/>&degC
                </div>
                {% else %}
                <div>
                    set: <input type="edittext" placeholder="no Target set"/>&degC
                </div>
                {% end %}

            </div> -->
            <div class="mdl-card mdl-shadow--2dp card ">
                <div class="mdl-card__title mdl-card--expand">
                    <h5 class="mdl-card__title-text">{{key}}:<br>
                     {{escape(value['temp'])}}&degC</h5>
                </div>
                <div class="mdl-card__supporting-text">
                        min: {{escape(value['min'])}}&degC
                        max: {{escape(value['max'])}}&degC
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <span>
                        {% if value['target'] %}
                            set: <input type="edittext" value="{{escape(    value['target'])}}" size="5"/>&degC
                        {% else %}
                            set: <input type="edittext" size="5"/>&degC
                        {% end %}
                    </span>
                    <a class="mdl-button mdl-js-button mdl-button--fab">
                        <i class="material-icons">check</i>
                    </a>
                </div>
            </div>

        {% end %}
        </div>


        <div>
        Notifications
        <input type="checkbox" id="push_notifications" class="Switch Notification" checkd="{{data['push_notifications']}}"/><label for="push_notifications"></label><br>

        </div>
        </div>



                   <!--<embed class="Graph" preserveAspectRatio="None" type="image/svg+xml" src="{{ static_url("images/tempchart.svg") }}"/>-->
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-desktop mdl-cell--hide-tablet inner">
            <img width="100%" src="{{ static_url("images/tempchart.svg")}}"></img>

            </div>



</div>
{% end %}
