{% extends "base.html" %}

{% block title %} Configuration {% end %}

{% block head %}

    <!--<link rel="stylesheet" href="../static/css/HeaterMeter.css">-->
    <!-- <script type="text/javascript" src="../static/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../static/scripts/selection.js"></script> -->
    <script type="text/javascript" src="{{ static_url("scripts/jquery-2.1.4.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("scripts/selection.js") }}"></script>
    {% for v in data['analog_sensors'] %}
    <script type="application/javascript">
        set_analog_sensors("{{v}}");
    </script>
    {% end %}

    {% for v in data['digital_sensors'] %}
    <script type="application/javascript">
        set_digital_sensors("{{v}}");
    </script>
    {% end %}

    <script type="application/javascript">
        set_config_dict("{{data['config_dict']}}");
    </script>
{% end %}






{% block content %}
    <div>
        {{data['config_dict']}}
    </div>
    <span class='PortPreview'>
        <div class='portSelection no-switch'>
            <input type="checkbox" class="port" id="port-1" name='port' value='1' onclick="createSensorFieldset(this);" /><label for="port-1"></label>
            <input type="checkbox" id="port-2" class="port" name='port' value='2' onclick="createSensorFieldset(this);"/><label for="port-2"></label>
            <input type="checkbox" id="port-3" class="port" name='port' value='3' onclick="createSensorFieldset(this);"/><label for="port-3"></label>
            <input type="checkbox" id="port-4" class="port" name='port' value='4' onclick="createSensorFieldset(this);"/><label for="port-4"></label>
        </div>

        <div class='portSelection'>
          <!--   <input type="checkbox" id="mono_stereo-1" class="Switch Stereo"/><label for="mono_stereo-1"></label> -->
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="mono_stereo-1">
            <input type="checkbox" id="mono_stereo-1" class="mdl-switch__input" checked />
            <span class="mdl-switch__label"></span>
            </label>
            <br>


            <input type="checkbox" id="port-5" class="port" name='port' value='5' onclick="createSensorFieldset(this);" /><label for="port-5"></label>
            <input type="checkbox" id="port-6" class="port" name='port' value='6' onclick="createSensorFieldset(this);" disabled/><label for="port-6"></label>
        </div>

        <div class='portSelection'>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="mono_stereo-2">
            <input type="checkbox" id="mono_stereo-2" class="mdl-switch__input" checked />
            <span class="mdl-switch__label"></span>
            </label><br>

            <input type="checkbox" id="port-7" class="port" name='port' value='7' onclick="createSensorFieldset(this);"  /><label for="port-7"></label>
            <input type="checkbox" id="port-8" class="port" name='port' value='8' onclick="createSensorFieldset(this);"  disabled/><label for="port-8"></label>
        </div>
        <div class='portSelection no-switch oneWire'>
            <input type="checkbox" id="port-0" class="port" name='port' value='0' onclick="createSensorFieldset(this);"/><label for="port-0"></label>

        </div>
    </span>

    <!-- <form id="configurationForm" action="/" enctype="application/json"> -->
    <form id="configurationForm" action="/">

        <section id="sensors">
        <!-- Control Sensors -->
            <div class="SelectionBox" id="controlSensorSelection">

                <h1>Sensors</h1>
                <div id="selectedSensors" class="mdl-grid">

                </div>

        </div>
    </section>


    <section id="system">
        <!-- Controller Selection -->
        <h1>System</h1>

        <select id='systemSelection'>
            <option value="None">None</option>
            {% for v in data['controller_parameters'] %}
            <option value="{{v}}">
                {{escape(v)}}
            </option>

            {% end %}

        </select>
    </section>

</div>

<br><br>
<input type="submit" value="Start" id='submitButton'>
</form>
{% end %}
