label {
    display: inline;
}

img{
    margin: 8px;
    background-color: white;
    vertical-align: center
}
.Temperatures{
    padding:8px;
}
.card{
    margin-top:8px;
    margin-bottom:8px;

    max-width:49%;
    display: inline-block;
}
.inner{
    background-color: lightgray;
    box-sizing: border-box;
}


.container{
    width: 100%;
    padding:8px;
}

.timer-title{
    padding:0;
}
.timer-label{
    top: 5px;
}

.timer-label::after {
    bottom:0;
}

.mdl-card__supporting-text{
    width:auto;
}
.mdl-textfield{
    width:auto;
}


.PortPreview{
   /* width:50%;
    margin: 0 auto;*/
    width:100%;
    max-width: 900px;
    margin: auto;
    display:inline-block;
    background-color: #DDDDDD

}

.oneWire{
    margin-left:75px;
}


.TemperatureBox{
    background-color: black;
    color: darkgray;
    font-family: monospace;
    font-size: 16pt;
    vertical-align: top;
    margin:5px 5px;
    padding: 3px;


    /*-webkit-box-sizing: border-box;  Safari/Chrome, other WebKit */
    /*-moz-box-sizing: border-box;     Firefox, other Gecko */
    /*box-sizing: border-box;          Opera/IE 8+ */

}
.TemperatureValue{
    border-top-style: dashed;
    border-color: darkgray;
    /*border-top-width: 5px;*/
    text-align:center;
    font-size: 20pt;
    padding: 5px 5px 0px;  /*top; right and left, bottom*/
    margin-top:5px;
    /*        margin-right: 5px;*/


    background-color:#353535;
}

.SlightOverTemperature{
    background-color: darkorange;
}
.OverTemperature{
    background-color: red;
}

.UnderTemperature{
    background-color: blue;
}
.SlightUnderTemperature{
    background-color: deepskyblue;
}



/*.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "Mono";
    padding-left: 10px;
    background-color: #2E8DEF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Stereo";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0; right: 65px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


*/



.portSelection{
    float: left;

}
.portSelection.no-switch{
    padding-top: 34px;
}



.port{
    display: none;
}

/*
.Switch + label {
    background-color: #FFF;
    padding: 11px 9px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    background: #F7836D;
    width: 65px;
    height: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(245, 146, 146, 0.4);
}

.Switch + label:before {
    content: ' ';
    position: absolute;
    background: #FFF;
    top: 0px;
    z-index: 99999;
    left: 0px;
    width: 24px;
    color: #FFF;
    height: 32px;
    border-radius: 7px;
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.Switch + label:after {
    content: 'STEREO';
    position: absolute;
    top: 7px;
    left: 37px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    left: 8px;
    padding: 5px;
    top: 4px;
    border-radius: 100px;
}

.Switch:checked + label {
    background: #67A5DF;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(146, 196, 245, 0.4);
}

.Switch:checked + label:after {
    content: 'MONO';
    left: 6px;
}

.Switch:checked + label:before {
    content: ' ';
    position: absolute;
    z-index: 99999;
    left: 59px;
}


.Switch + label:after {
    left: 25px;
}


.Stereo + label:after {
    content: 'STEREO';
}
.Stereo:checked+ label:after {
    content: 'MONO';
}
.Notification + label:after {
    content: 'OFF';
}
.Notification:checked+ label:after {
    content: 'ON';
}*/
.port + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 1000px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    width: 10px;
    height: 10px;
}

.port + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.2);
}

.port:checked + label {
    background-color: #ECF2F7;
    border: 1px solid #92A1AC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #243441;
}

.port:checked + label:before {
    content: ' ';
    border-radius: 100px;
    position: absolute;
    background: #253C4B;
    opacity: 0.8;
    display: none;
    box-shadow: inset 0 15px 23px -10px rgba(187, 230, 240, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
}

.port:checked + label:before {
    content: ' ';
    display: block;
}


.port:checked + label:before {
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
}

.port:disabled + label{
    background-color: #CCCCCC;
}

.port:disabled + label:before{
    background-color: #BBBBBB;
}
.inactive{
    opacity: 0.1;
}

